.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bashrc
.bashrc~
.cache/
.config/
.dasher/
.dbus/
.dmrc
.gconf/
.lesshst
.local/
.macromedia/
.mozilla/
.profile
.sudo_as_admin_successful
.viminfo
.vimrc
.xinputrc
.xsession-errors
.xsession-errors.old
Bureau/
Firefox_wallpaper.png
Images/
"T\303\251l\303\251chargements/"
[AOA]L2-Sujet3_Ioann_Matoub.tar.gz
a.out
build-Test_im-Desktop-Debug/
build-sans_titre-Desktop-Debug/
build-sans_titre1-Desktop-Debug/
examples.desktop
intel/
maqao_icc_O2
projetMT/
projet_archi/
sans_titre/
sans_titre1/
sans_titre2/
test.c
test_icc/

